
<h3 class="mb-3" translate>Config sync</h3>
<ul class="nav-tabs" ngbNav #nav="ngbNav">
  <li ngbNavItem><a ngbNavLink translate>Sync</a>
    <ng-template ngbNavContent>
      <div class="form-line">
        <div class="header">
          <div class="title" translate>Sync host</div>
        </div>
        <div class="input-group w-50">
          <input class="form-control" type="text" [(ngModel)]="config.store.configSync.host" (keydown.enter)="config.save()">
          <button class="btn btn-secondary" *ngIf="config.store.configSync.host" (click)="openSyncHost()"><i class="fas fa-external-link-alt"></i></button>
        </div>
      </div>
      <div class="form-line" *ngIf="config.store.configSync.host">
        <div class="header">
          <div class="title" translate>Secret sync token</div>
          <div class="description" translate>Get it from the Tabby Web settings window</div>
        </div>
        <div class="input-group">
          <input class="form-control" type="password" [(ngModel)]="config.store.configSync.token" (keydown.enter)="config.save(); testConnection()">
          <div class="input-group-text" *ngIf="config.store.configSync.token"><i class="fas fa-fw fa-circle-notch fa-spin text-warning" *ngIf="connectionSuccessful === null"></i><i class="fas fa-fw fa-check text-success" *ngIf="connectionSuccessful"></i><i class="fas fa-fw fa-exclamation-triangle text-danger" *ngIf="connectionSuccessful === false"></i></div>
        </div>
      </div>
      <div class="alert alert-info d-flex align-items-center">
        <div class="me-auto"><span translate>Config sync requires an instance of the Tabby Web service.</span><a class="ml-1" (click)="openTabbyWebInfo()" href="#" translate>Learn more</a></div>
      </div>
      <ng-container *ngIf="config.store.configSync.token">
        <div class="alert alert-danger" *ngIf="connectionSuccessful === false"><i class="fas fa-exclamation-triangle"></i><span class="ms-2" translate="Connection failed: {error}" [translateParams]="{error: connectionError}"></span></div>
      </ng-container>
      <ng-container *ngIf="connectionSuccessful">
        <div class="form-line">
          <div class="header">
            <div class="title" translate>Configs</div>
          </div>
        </div>
        <div *ngIf="configs === null"><i class="fas fa-fw fa-circle-notch fa-spin"></i><span class="ms-2" translate>Loading configs...</span></div>
        <ng-container *ngIf="configs !== null">
          <div class="list-group list-group-light">
            <div class="list-group-item d-flex align-items-center" *ngFor="let cfg of configs" [class.active]="isActiveConfig(cfg)"><i class="fas fa-fw text-success" [class.fa-check]="isActiveConfig(cfg)"></i><i class="fas fa-fw fa-file"></i>
              <div class="ms-2 d-flex flex-column align-items-start">
                <div>{{cfg.name}}</div><small class="text-muted" translate="Modified on {date}" [translateParams]="{date: cfg.modified_at|tabbyDate}"></small>
              </div>
              <div class="me-auto"></div>
              <button class="btn btn-link ms-1" (click)="uploadAndSync(cfg)" [class.hover-reveal]="!isActiveConfig(cfg)"><i class="fas fa-arrow-up"></i><span class="ms-2" *ngIf="isActiveConfig(cfg)" translate>Upload</span><span class="ms-2" *ngIf="!isActiveConfig(cfg)" translate>Replace</span></button>
              <button class="btn btn-link ms-1" (click)="downloadAndSync(cfg)" [class.hover-reveal]="!isActiveConfig(cfg)"><i class="fas fa-arrow-down"></i><span class="ms-2" translate>Download</span></button>
              <button class="btn btn-link ms-1" (click)="delete(cfg)" [class.hover-reveal]="!isActiveConfig(cfg)"><i class="fas fa-trash"></i><span class="ms-2" translate>Delete</span></button>
            </div><a class="list-group-item list-group-item-action d-flex align-items-center" href="#" (click)="uploadAsNew()"><i class="fas fa-fw"></i><i class="fas fa-fw fa-cloud-upload-alt"></i>
              <div class="ms-2" translate>Upload as a new config</div></a>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="hasMatchingRemoteConfig()">
        <div class="form-line">
          <div class="header">
            <div class="title" translate>Sync automatically</div>
            <div class="description" translate>Automatically upload changes and check for updates every minute</div>
          </div>
          <toggle [(ngModel)]="config.store.configSync.auto" (ngModelChange)="config.save()"></toggle>
        </div>
      </ng-container>
    </ng-template>
  </li>
  <li ngbNavItem><a ngbNavLink translate>Advanced</a>
    <ng-template ngbNavContent>
      <div class="alert alert-info" *ngIf="config.store.encrypted">
        <div translate>Partial config sync is not possible when the config is encrypted via Vault.</div>
      </div>
      <div class="form-line" *ngIf="!config.store.encrypted">
        <div class="header">
          <div class="title" translate>Sync hotkeys</div>
        </div>
        <toggle [(ngModel)]="config.store.configSync.parts.hotkeys" (ngModelChange)="config.save()"></toggle>
      </div>
      <div class="form-line" *ngIf="!config.store.encrypted">
        <div class="header">
          <div class="title" translate>Sync window settings</div>
        </div>
        <toggle [(ngModel)]="config.store.configSync.parts.appearance" (ngModelChange)="config.save()"></toggle>
      </div>
      <div class="form-line" *ngIf="!config.store.encrypted">
        <div class="header">
          <div class="title" translate>Sync Vault</div>
        </div>
        <toggle [(ngModel)]="config.store.configSync.parts.vault" (ngModelChange)="config.save()"></toggle>
      </div>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>