:host {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-width: 0;

    >.btn-block {
        margin: 20px;
        width: auto;
        flex: none;
    }

    .logo-area {
        .aterm-logo {
            margin: 0 0 0 -8px;
            width: 60px;
            height: 60px;
        }

        .aterm-title {
            text-align: left;
        }
    }

    .link-card {
        display: flex;
        line-height: 1;
        align-items: center;
    }

    > .content {
        display: flex;
        min-height: 0;
        flex: 1 0 0;

        > .nav {
            padding: 24px 0;
            width: 200px;
            flex: none;
            overflow-y: auto;
            flex-wrap: nowrap;
            gap: 1px;
            border-right: 1px solid rgba(255, 255, 255, 0.08);

            ::ng-deep .nav-link {
                padding: 8px 24px;
                font-size: 15px;
                font-weight: 300;
                border-radius: 0;
                transition: color 0.15s;

                &.active {
                    font-weight: 400;
                }
            }
        }

        > .tab-content {
            flex: auto;
            padding: 0;
            overflow-y: auto;
            display: flex;
            flex-direction: column;

            > ::ng-deep .tab-pane {
                padding: 40px;
                min-height: 100%;

                > settings-tab-body > * {
                    display: block;
                }
            }
        }
    }

    &.pad-window-controls > .content > .nav {
        padding-top: 40px;
    }
}

textarea {
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;
    min-height: 120px;
}
