
<div class="content">
  <ul class="nav-pills" ngbNav #nav="ngbNav" [activeId]="activeTab" orientation="vertical">
    <li ngbNavItem="application"><a ngbNavLink><i class="fas fa-fw fa-window-maximize me-2"></i><span translate>Application</span></a>
      <ng-template ngbNavContent>
        <div class="content-box">
          <h3 translate>Application settings</h3>
          <div class="form-line">
            <div class="header">
              <div class="title" translate>Language</div>
            </div>
            <select class="form-control" [(ngModel)]="config.store.language" (ngModelChange)="saveConfiguration(true)">
              <option [ngValue]="null" translate>Automatic</option>
              <option [value]="lang.code" *ngFor="let lang of allLanguages">{{lang.name}}</option>
            </select>
          </div>
          <div class="form-line" *ngIf="platform.isShellIntegrationSupported()">
            <div class="header">
              <div class="title" translate>Shell integration</div>
              <div class="description" translate>Allows quickly opening a terminal in the selected folder</div>
            </div>
            <toggle [ngModel]="isShellIntegrationInstalled" (ngModelChange)="toggleShellIntegration()"></toggle>
          </div>
          <div class="form-line" *ngIf="hostApp.platform !== Platform.Web">
            <div class="header">
              <div class="title" translate>Enable analytics</div>
              <div class="description" translate>We're only tracking your Aterm and OS versions.</div>
            </div>
            <toggle [(ngModel)]="config.store.enableAnalytics" (ngModelChange)="saveConfiguration(true)"></toggle>
          </div>
          <div class="form-line" *ngIf="hostApp.platform !== Platform.Web">
            <div class="header">
              <div class="title" translate>Automatic Updates</div>
              <div class="description" translate>Enable automatic installation of updates when they become available.</div>
            </div>
            <toggle [(ngModel)]="config.store.enableAutomaticUpdates" (ngModelChange)="saveConfiguration()"></toggle>
          </div>
          <div class="form-line" *ngIf="hostApp.platform !== Platform.Web">
            <div class="header">
              <div class="title" translate>Debugging</div>
            </div>
            <button class="btn btn-secondary" (click)="hostWindow.openDevTools()"><i class="fas fa-bug"></i><span translate>Open DevTools</span></button>
          </div>
          <h3 translate>Accessibility</h3>
          <div class="form-line">
            <div class="header">
              <div class="title" translate>Enable animations</div>
            </div>
            <toggle [(ngModel)]="config.store.accessibility.animations" (ngModelChange)="saveConfiguration()"></toggle>
          </div>
          <div class="form-line">
            <div class="header">
              <div class="title" translate>Minimum contrast ratio</div>
            </div>
            <input class="form-control" type="number" min="1" max="21" step="0.5" [(ngModel)]="config.store.terminal.minimumContrastRatio" (ngModelChange)="config.save()">
          </div>
        </div>
      </ng-template>
    </li>
    <ng-container *ngFor="let provider of settingsProviders">
      <li [ngbNavItem]="provider.id"><a class="d-flex align-items-center" ngbNavLink><i class="fas fa-fw me-2 fa-{{provider.icon || &quot;puzzle-piece&quot;}}"></i><span>{{provider.title|translate}}</span></a>
        <ng-template ngbNavContent>
          <settings-tab-body [provider]="provider"></settings-tab-body>
        </ng-template>
      </li>
    </ng-container>
    <li ngbNavItem="about"><a class="d-flex align-items-center" ngbNavLink><i class="fas fa-fw fa-info-circle me-2"></i><span translate>About</span></a>
      <ng-template ngbNavContent>
        <div class="content-box">
          <div class="logo-area mb-4">
            <div class="aterm-logo mt-3"></div>
            <h1 class="aterm-title">ATerm</h1>
            <div class="text-muted">{{homeBase.appVersion}}</div>
            <button class="btn btn-secondary mt-3 mb-2" *ngIf="!updateAvailable &amp;&amp; hostApp.platform !== Platform.Web" (click)="checkForUpdates()" [disabled]="checkingForUpdate"><i class="fas fa-sync" [class.fa-spin]="checkingForUpdate"></i><span translate>Check for updates</span></button>
            <button class="btn btn-info mt-3 mb-2" *ngIf="updateAvailable" (click)="updater.update()"><i class="fas fa-sync"></i><span translate>Update</span></button>
          </div>
          <div class="list-group list-group-light">
            <button class="list-group-item list-group-item-action link-card" (click)="homeBase.reportBug()"><i class="fas fa-fw fa-bug"></i>
              <div>
                <div translate>Report a problem</div><small class="text-muted" translate>Generate a pre-filled GitHub issue</small>
              </div>
            </button>
            <button class="list-group-item list-group-item-action link-card" (click)="homeBase.openGitHub()"><i class="fab fa-fw fa-github"></i>
              <div>
                <div>GitHub</div><small class="text-muted" translate>Source code</small>
              </div>
            </button>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
<button class="btn btn-warning btn-block" *ngIf="config.restartRequested" (click)="restartApp()" translate>Restart the app to apply changes</button>