
<ng-container *ngIf="!argvMode">
  <div class="mb-3">
    <label translate>Command line</label>
    <div class="input-group"><a class="input-group-text text-decoration-none" (click)="switchToArgv()" ngbTooltip="Split into unescaped arguments" href="#"><i class="fas fa-fw fa-caret-right"></i></a>
      <input class="form-control text-monospace" [(ngModel)]="command" (ngModelChange)="parseCommand()">
    </div>
  </div>
</ng-container>
<ng-container *ngIf="argvMode &amp;&amp; _model">
  <div class="mb-3">
    <label translate>Program</label>
    <div class="input-group"><a class="input-group-text text-decoration-none" (click)="switchToCommand()" ngbTooltip="Combine into a single escaped command" href="#"><i class="fas fa-fw fa-caret-down"></i></a>
      <input class="form-control text-monospace" type="text" [(ngModel)]="_model.command">
    </div>
  </div>
  <div class="mb-3" *ngIf="_model.args">
    <label translate>Arguments</label>
    <div class="input-group" *ngFor="let arg of _model.args; index as i; trackBy: trackByIndex">
      <input class="form-control text-monospace" type="text" [(ngModel)]="_model.args[i]">
      <button class="btn btn-secondary" (click)="_model.args.splice(i, 1)"><i class="fas fa-fw fa-trash"></i></button>
    </div>
    <div class="mt-2">
      <button class="btn btn-secondary" (click)="_model.args.push(&quot;&quot;)"><i class="fas fa-plus me-2"></i><span translate>Add</span></button>
    </div>
  </div>
</ng-container>