
<div class="d-flex mb-3">
  <h3 translate>Plugins</h3>
  <button class="btn btn-secondary btn-sm ms-auto" (click)="openPluginsFolder()"><i class="fas fa-folder"></i><span translate>Plugins folder</span></button>
</div>
<div class="alert alert-danger" *ngIf="errorMessage"><strong translate="Error in {plugin}:" [translateParams]="{plugin: erroredPlugin}"></strong>
  <pre>{{errorMessage}}</pre>
</div>
<ul class="nav-tabs mb-2" ngbNav #nav="ngbNav">
  <li ngbNavItem><a ngbNavLink translate>Available</a>
    <ng-template ngbNavContent>
      <div class="input-group mb-3 mt-3">
        <div class="input-group-text"><i class="fas fa-fw fa-circle-notch fa-spin" *ngIf="!availablePluginsReady"></i><i class="fas fa-fw fa-search" *ngIf="availablePluginsReady"></i></div>
        <input class="form-control" type="text" [(ngModel)]="availableFilter" (ngModelChange)="searchAvailable(availableFilter)" [placeholder]="&quot;Search plugins&quot;|translate">
      </div>
      <div ngbAccordion class="mb-4" *ngIf="availablePlugins$" [closeOthers]="true">
        <ng-container *ngFor="let plugin of (availablePlugins$|async)">
          <div ngbAccordionItem *ngIf="!isAlreadyInstalled(plugin)">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>
                <div class="text-left"><strong class="d-block">{{plugin.name}}</strong><small class="d-block text-muted">{{plugin.description}}</small></div>
              </button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <div class="row">
                  <div class="col-4">
                    <div class="d-flex flex-column flex-md-row gap-2">
                      <button class="btn btn-primary btn-block justify-content-center" (click)="installPlugin(plugin)" [disabled]="busy.has(plugin.name)"><i class="fas fa-fw fa-cloud-download" *ngIf="busy.get(plugin.name) != BusyState.Installing"></i><i class="fas fa-fw fa-circle-notch fa-spin" *ngIf="busy.get(plugin.name) == BusyState.Installing"></i><span class="ms-2" translate>Get</span></button>
                      <button class="btn btn-secondary btn-block justify-content-center" *ngIf="plugin.homepage" (click)="showPluginHomepage(plugin)"><i class="fas fa-fw fa-external-link-alt"></i><span class="ms-2" translate>Homepage</span></button>
                    </div>
                  </div>
                  <div class="col-8">
                    <ng-container *ngTemplateOutlet="pluginInfo; context: { plugin }"></ng-container>
                  </div>
                </div>
                <div class="mt-2">{{plugin.description}}</div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-template>
  </li>
  <li ngbNavItem><a ngbNavLink translate>Installed</a>
    <ng-template ngbNavContent>
      <div class="input-group mb-3 mt-3">
        <div class="input-group-text"><i class="fas fa-fw fa-search"></i></div>
        <input class="form-control" type="text" [(ngModel)]="installedFilter" (ngModelChange)="searchInstalled(installedFilter)" [placeholder]="&quot;Search plugins&quot;|translate">
      </div>
      <div ngbAccordion class="mb-4" [closeOthers]="true">
        <ng-container *ngFor="let plugin of installedPlugins$">
          <div ngbAccordionItem>
            <div ngbAccordionHeader class="d-flex align-items-center">
              <button ngbAccordionButton class="flex-grow-1">
                <div class="text-left me-auto">
                  <div><strong>{{plugin.name}}</strong><small class="text-muted ms-2" *ngIf="plugin.isBuiltin" translate>Built-in</small><small class="text-warning ms-2" *ngIf="!isPluginEnabled(plugin)" translate>Disabled</small></div><small class="d-block text-muted">{{plugin.description}}</small>
                </div>
              </button>
              <button class="btn btn-primary ms-2 me-3" *ngIf="knownUpgrades[plugin.name]" (click)="upgradePlugin(plugin); $event.stopPropagation()" [disabled]="busy.has(plugin.name)"><i class="fas fa-fw fa-arrow-up" *ngIf="busy.get(plugin.name) != BusyState.Installing"></i><i class="fas fa-fw fa-circle-notch fa-spin" *ngIf="busy.get(plugin.name) == BusyState.Installing"></i><span translate="Upgrade to {version}" [translateParams]="{version: knownUpgrades[plugin.name]?.version}"></span></button>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <div class="row">
                  <div class="col-4">
                    <button class="btn btn-warning btn-block justify-content-center" (click)="togglePlugin(plugin)" *ngIf="isPluginEnabled(plugin)" [disabled]="!canDisablePlugin(plugin)" translate>Disable</button>
                    <button class="btn btn-success btn-block justify-content-center" (click)="togglePlugin(plugin)" *ngIf="canDisablePlugin(plugin) &amp;&amp; !isPluginEnabled(plugin)" translate>Enable</button>
                    <button class="btn btn-danger btn-block justify-content-center" (click)="uninstallPlugin(plugin)" *ngIf="!plugin.isBuiltin" [disabled]="busy.has(plugin.name)"><i class="fas fa-fw fa-trash" *ngIf="busy.get(plugin.name) != BusyState.Uninstalling"></i><i class="fas fa-fw fa-circle-notch fa-spin" *ngIf="busy.get(plugin.name) == BusyState.Uninstalling"></i><span translate>Uninstall</span></button>
                  </div>
                  <div class="col-8">
                    <ng-container *ngTemplateOutlet="pluginInfo; context: { plugin }"></ng-container>
                  </div>
                </div>
                <div class="mt-2">{{plugin.description}}</div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-template>
  </li>
</ul>
<ng-template #pluginInfo let-plugin="plugin">
  <div class="row align-items-center">
    <div class="col-4"><strong translate>Version</strong></div>
    <div class="col-8"><span>{{plugin.version}}</span></div>
  </div>
  <div class="row align-items-center">
    <div class="col-4"><strong translate>Author</strong></div>
    <div class="col-8">
      <div class="badge text-bg-success" *ngIf="plugin.isOfficial"><i class="fas fa-check"></i><span class="ms-1" translate>Official</span></div><a class="btn btn-link px-0 w-auto" (click)="showPluginInfo(plugin)" *ngIf="!plugin.isOfficial"><span>{{plugin.author}}</span><i class="fas fa-fw fa-external-link-alt ms-2"></i></a>
    </div>
  </div>
</ng-template>
<div class="mb-4" [ngbNavOutlet]="nav"></div>